#icon-key {
  background-color: white;
}

details {
    border-radius: 10px;
    border: 2px solid grey;
    margin-bottom: 1rem;
}

details summary {
    list-style: none; /* Remove standard summary marker */
    border-radius: 10px;
    padding: 0.3rem;
    cursor: pointer;
}

#icon-key img,
.spc_logo img {
  width: 45px;
}

details[open] summary{
    border-bottom: 2px solid grey;
    border-radius: 10px 10px 0 0;
}

details:hover {
    box-shadow: 4px 4px 8px grey;
}

details .details_content {
    padding: 1rem;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

/* Replace standard summary marker with +- content*/
details summary::marker {
    display: none
}

.summary_title:before {
    content: "+";
    display: inline-block;
    font-size: 2.5rem;
    text-align: center;
    width: 20px;
}

details[open] .summary_title:before {
    content: "-";
}

#session-info summary {
  background-color: #dde;
}
