@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/SourceSansPro.ttf) format('truetype');
}

html {
    font-family: "Source Sans Pro";
    font-weight: 500;
    font-size: 14px;
}

body {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.title.toc-ignore {
    display: none;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

h1,.h1,h2,.h2,h3,.h3 {
    margin-top: 1.4rem;
    margin-bottom: 0.6rem;
}