@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/SourceSansPro.ttf) format('truetype');
}

html {
    font-family: "Source Sans Pro";
}

body {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.title.toc-ignore {
    display: none;
}

h1 {
    font-weight: 500;
    font-size: 34px;
}